<html>
<head>
	<title>Home</title>
</head>
<body>
	<div>
	    <big>@ {{ profile.user.username }}</big>
	    <br>
		<small>{{ profile.biography }}</small>
		<br>
		<small>{{ profile.location }}</small>
	</div>
	<div>
		{% for tweet in tweet %}
		<div>		
			@{{ tweet.owner }} {{ tweet.creation_date }}		
			<br>
			{{ tweet.status }}
			<br>
			<a href="{% url edit_tweet tweet.pk%}"> Edit    </a>
			<a href="{% url delete_tweet tweet.pk%}"> Delete </a>
		</div>
		{% endfor %}
	</div>
	<div>
		<a href="{% url django.contrib.auth.views.logout %}">Log Out</a>
		<br>
		<a href="{% url edit_profile %}">Edit Your Profile</a>
		<br>
		<a href="{% url post_tweet %}">Post A Tweet</a>		
	</div>

</body>
</html>
