<html>
<head>
	<title>Log In!</title>
	<link rel ="stylesheet" type="text/css" href="{{STATIC_URL}}style.css">
</head>
<body>
	<div id="header">
		<a href="http://127.0.0.1:8000/"><img src="{{MEDIA_URL}}HeadShots/logo.png" width="125" height="100" alt="TwitterDjango"/></a>
	</div>

	<div id="menu">
		
	</div>

	<div id="body">
		<div id="left">		
				
		</div>

		<div id="content">
			<form method="POST">
		    {% csrf_token %}
		    {{ form.as_p }}
		    <input type="submit"/>	
		    </form>
		</div>

		<div id="right">
			
		</div>
	</div>	
</body>
</html>