<html>
<head>
    <title>Profile</title>
</head>
<body>
<h1>Has entrado al perfil de: {{ profile.user.username }}</h1>
{% block profile %}
    <section>
        <h3>Location: {{ profile.location }}</h3>
    </section>
{% endblock %} 

{% if profilelogin == profile.user %}
    </br><a href="{% url edit_profile %}">Edit Your Profile</a>
    {% else %}
    <form action="/follow/" method="post">
                {% csrf_token %}
                {% csrf_token %}
                <input type="hidden" name="pk" value="{{ profile.pk }}">
                <p>
                    <input class="btn btn-success" type="submit" value="{{ textbutton }}">
                    
                </p>
            </form>
    {% endif %}  
<h1>Tweets-</h1>
{% for tweet in tweets %}
<div>
    <a href="{% url show_profile profile.id %}">        
            @{{ tweet.owner }}</a> {{ tweet.creation_date }}        
            <br>
            {{ tweet.status }}
</div>    
{% endfor%}
</body>
</html>