<html>
<head>
	<title>Profile</title>
	<link rel ="stylesheet" type="text/css" href="{{STATIC_URL}}style.css">
</head>
<body>
	<div>
		<br>
		<img id="shot" src="{{ MEDIA_URL }}{{ profile.head_shot }}"/>
		<br>
		<big>@ {{ profile.user.username }}</big>
		<br>
				
		<br>
		<a href="{% url follow profile.pk %}">{{ action }}</a>
		<br>
		<small>{{ profile.biography }}</small>
		<br>
		<small>{{ profile.location }}</small>
	</div>

	<div>
		{% if public == "false" %}
			<big> This profile is not public</big>
  		{% endif %}
		{% if public == "true" %}
			{% for tweet in tweet %}
				{{ tweet.owner }} <small>{{ tweet.creation_date }}</small>
				<br>
				{{ tweet.status }}
				<br>
			{% endfor %}	
  		{% endif %}
	</div>
</body>
</html>